header{
    text-align: center;
    height: 100px;
    width: 100%;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(123, 5, 5), rgb(243, 26, 26));
    color: white;
    padding-top: 1px;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
    color: rgb(123, 5, 5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    color: rgb(123, 5, 5);
}

.menu{
    display: flex;
    list-style-type: none;
    margin-top: 5px;
}
.menu li{
    margin-right: 15px;
}
.menu li a{
    color: rgb(123, 5, 5);
    text-decoration: none;
    border: 2px solid rgb(123, 5, 5);
    padding: 5px;
    border-radius: 10px;
}

.menu li a:hover{
    background-color: rgb(243, 26, 26);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}



.baslik{
    margin-left: 40px;
    margin-bottom: -5px;
    color: rgb(186, 9, 9);
    font-size: 35px;
}

/* Main bölümü */

main{
    display: block;
    margin-left: 20px;
}

.sergiler, .sergiler2 {
    display: flex; 
    justify-content: flex-start; 
    align-items: stretch;
    margin-left: auto; 
    margin-right: auto; 
    width: 95% 
}

.res {
    flex: 1;
    margin: 0; 
}

.exp {
    flex: 1;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgb(225, 221, 221);
}
.exp:hover{
    background-color: rgb(186, 9, 9);
    color: white;
}

.res img {
    width: 100%; 
    height: auto; 
    display: block; 
}


/*footer bölümü*/

footer{
    display: flex;
    width: 100%;
    margin-top: 100px;
    background-image: linear-gradient(to right, rgb(123, 5, 5), rgb(243, 26, 26));
}
.footsec1{
    text-align: center;
    color: white;
    width: 50%;
}
.footsec2{
    text-align: center;
    color: white;
    width: 50%;
    padding-top: 50px;
}


@media screen and (max-width: 1200px){
    main h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    header{
        font-size: 13px;
    }
    nav {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .menu {
        font-size: 14px;
        justify-content: center; 
    }
    .logo{
        text-align: center;
    }
    .baslik{
        text-align: center;
    }
    .sergiler, .sergiler2 {
        flex-direction: column;
        align-items: center; 
        width: 90%; 
        margin-bottom: 30px;
    }
    .sergiler2 .exp {
        order: 2; 
    }

    .exp {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    header{
        font-size: 13px;
    }
    nav {
        padding: 10px;
    }

    .menu li {
        font-size: 12px;
    }
    footer {
        padding: 10px;
        text-align: center;
        margin-top: 10px;
    }
}